/*calendar css */
body.is-changing {
  overflow-y: hidden;  /* hide the scrollbar when content is changing */
  overflow-x: hidden;
}

#main-container{
  background-image: linear-gradient(to bottom right, rgba(20,30,81), rgba(68,96,130));
  -webkit-box-shadow: 0 0 10px #292238;
  box-shadow: 0 0 10px #0f0c2f;
  border-radius: 4px
}

#calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 80vh;
}

.day{
  color: white;
  font-family: Dosis;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  border-radius: 4px
}

.day:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.today{
  background-color: rgba(59, 82, 183, 0.852);
}

.selected{
  background-color: rgba(94, 111, 186, 0.852);
}


#daynames{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 1vh;
}

.weekday{
  text-align: center;
  color: whitesmoke;
  font-family: Dosis;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

#header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: antiquewhite;
  font-family: Dosis;
}

.monthbuttons{
  border-radius: 4px;
  font-family: Dosis;
  width: 50px;
}

.monthbuttons:hover{
  filter: brightness(85%);
}

.monthbuttons:active{
  transform: translateY(2px);
}

#leftmonthbutton{
  padding-left: 10px;
  text-align: left;
}

#rightmonthbutton{
  padding-right: 10px;
  text-align: right;
}

#monthyear{
  text-align: center;
  font-size: large;
}

/* Sweep animation */
.fade-enter-active{
  transition: transform 0.5s ease-in-out;
}

.fade-enter-right{
  transform: translateX(-100%);
}

.fade-enter-left{
  transform: translateX(100%);
}