/*calendar css */
#main-container{
  background-image: linear-gradient(to bottom right, rgba(20,30,81), rgba(68,96,130))
}

#calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 80vh;
  margin: 0;
  -webkit-box-shadow: 0 0 10px #292238;
        box-shadow: 0 0 10px #0f0c2f;
}

.day{
  color: white;
  font-family: Dosis;
  border: 1px solid lightgray;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

.day:hover{
  background-color: rgba(20, 30, 81);
}

.today{
  background-color: lightblue;
}

.selected{
  background-color: rgb(71, 53, 82);
}


#daynames{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 1vh;
}

.weekday{
  text-align: center;
  color: whitesmoke;
}

#header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding-bottom: 10px;
  color: antiquewhite;
}

#leftmonthbutton{
  padding-left: 10px;
  text-align: left;
}

#rightmonthbutton{
  padding-right: 10px;
  text-align: right;
}

#monthyear{
  text-align: center;
}